<div class="container">
    <h2 class="mb-4 text-center">Login</h2>

    <form [formGroup]="loginForm" (submit)="login()">
        <div class="mb-3">
            <input type="text" class="form-control" id="username" formControlName="username" required>
            <label for="username" class="form-label">Username</label>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="password" formControlName="password" required>
            <label for="password" class="form-label">Password</label>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#registerModal">Register</button>

    <!-- Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Register</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body"><app-register></app-register></div>
            </div>
        </div>
    </div>

</div>